/* * Basic styling * */
** {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logo {
    width: 90px;
}

a {
    color: black !important;
    text-decoration: none !important;
    position: relative;
}

a:hover {
    color: rgb(182, 128, 152) !important;


}


.dropdown:hover .dropdown-menu {
    display: block;
}


.navbar .megamenu {
    padding: 1rem;
    top: 100px;
    border: none;
   font-size: 17px;
    
}

.dropdown-toggle::after {

    content: none !important;
}


.fa-bars:before, .fa-navicon:before {
  content: "\f0c9";
}

body{
    /* background-color: rgb(203, 169, 169); */
}

.cir{
    width: 45px;
    margin: 8px;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}


/* ============ desktop view ============ */
@media all and (min-width: 992px) {

    .navbar .has-megamenu {
        position: static !important;
    }

    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0;
    }

}


/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media(max-width: 991px) {

    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }
    
}

/* ============ mobile view .end// ============ */